
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakkımızda - Pet Ürünleri Mağazası</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f4f4f4;
            margin: 0;
            margin-bottom: 100px;
            padding: 0;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        section {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            color: #333;
        }

        
    </style>
</head>
<body>

    <header>
        <h1>Hakkımızda</h1>
    </header>

    <section>
        <h2>Pet Deryasına Hoş Geldiniz</h2>
        <p>
            Pet Deryasında, sevimli dostlarınız için yüksek kaliteli ürünler sunmaktan büyük bir tutkuyla ilgileniyoruz.
            Oynamaya düşkün bir köpeğiniz, meraklı bir kediniz veya başka bir tüylü arkadaşınız olsun, ihtiyaçlarını karşılamak ve onlara
            sevgi dolu bir ortam sağlamak amacıyla geniş bir ürün yelpazemiz bulunmaktadır.
        </p>
        <br />
        <h2>Misyonumuz</h2>
        <p>
            Misyonumuz, evcil hayvanların refahını artırmak ve evcil hayvanlar ile sahipleri arasındaki bağı güçlendirmektir.
            Konforlu yataklardan etkileşimli oyuncaklara kadar çeşitli ürünler sunarak,
            evcil hayvanlarınızın mutluluğu ve sağlığı konusunda en üst düzeyde özen gösteriyoruz.
        </p>
        <br />
        <h2>Neden Pet Deryası</h2>
        <p>
            - Kaliteli Ürünler: Evcil hayvanlarınız için en iyisini sağlamak adına güvenilir markalardan ürünleri özenle seçiyoruz.
            <br>
            - Çeşitlilik: Farklı evcil hayvan türlerinin benzersiz ihtiyaçlarına ve tercihlerine hitap eden geniş bir ürün yelpazesi bulun.
            <br>
            - Müşteri Memnuniyeti: Mükemmel müşteri hizmeti sunmaya ve memnuniyetinizi sağlamaya adanmışız.
        </p>
        <br />
        <h2>Bize Ulaşın</h2>
        <p>
            Sorularınız mı var ya da yardıma mı ihtiyacınız var? Müşteri destek ekibimizle iletişime geçmek için rahatlıkla
            <a href="mailto:faruk.erata@ogr.sakarya.edu.tr">faruk.erata@ogr.sakarya.edu.tr</a> adresinden bizimle iletişime geçebilirsiniz.
        </p>
    </section>

</body>
</html>
